
@{
    ViewBag.Title = "ConfirmOrderSuccess";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Змовлення успішно сформовано!</h1>
<a href='@Url.Action("OrderCurrent", "Admin")'>Повернутись до замовлень</a>

